html 

body {
    background-color: #16254b;
    font-family: Impact;
    color: white;
    height: 100%;
}

/* Cabeçalho */

.main-header{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 32px;
    border-bottom: 1px solid rgb(0, 0, 0);
    background: rgb(31, 30, 29);
}

@media screen and (max-width: 767px) {
    .main-nav{
        width: 100%;
    }
}

.links{
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    text-align: center;
}

@media screen and (max-width: 767px) {
    .links{
        justify-content: center;
    }
}

.links a{
    color: white;
    font-size: 18px;
    line-height: 28px;
    margin: 10px;
    padding-bottom: 3px;
    text-decoration: none;
}

.links a:hover{
    color: #16337e;
    transition: color 200ms;
}

.name-header{
    color: white;
    font-size: 40px;
}

@media screen and (max-width: 767px) {
    .name-header{
        width: 100%;
        text-align: center;
        margin-bottom: 30px;
    }
}

/* IMAGEM DOS ESTADOS */

.states{
    margin-left: 150px;
}

.title-states h1{
    margin-top: 100px;
    text-align: center;
    font-size: 50px;
}

.RS{
    display: inline-block;
    margin: 50px 50px 50px 50px;
    text-align: center;
}

.RS h2{
    margin-top: 10px;
    align-items: column;
    font-size: 20px;
}

.SC{
    display: inline-block;
    margin: 50px 50px 50px 50px;
    text-align: center;
}

.SC h2{
    margin-top: 10px;
    align-items: column;
    font-size: 20px;
}

.PR{
    display: inline-block;
    margin: 50px 50px 50px 50px;
    text-align: center;
}

.PR h2{
    margin-top: 10px;
    align-items: column;
    font-size: 20px;
}

.SP{
    display: inline-block;
    margin: 50px 50px 50px 50px;
    text-align: center;
}

.SP h2{
    margin-top: 10px;
    align-items: column;
    font-size: 20px;
}

@media screen and (max-width:600px){
    .RS{
        flex-direction: column;
    }
    
    .RS h2{
        margin-top: 10px;
        align-items: column;
        font-size: 20px;
    }
    
    .SC{
        flex-direction: column;
    }
    
    .SC h2{
        margin-top: 10px;
        align-items: column;
        font-size: 20px;
    }
    
    .PR{
        flex-direction: column;
    }
    
    .PR h2{
        margin-top: 10px;
        align-items: column;
        font-size: 20px;
    }
    
    .SP{
        flex-direction: column;
    }
    
    .SP h2{
        margin-top: 10px;
        align-items: column;
        font-size: 20px;
    }
}

/* FOOTER */

footer{
    border-top: 1px solid rgb(0, 0, 0);
    background-color: rgb(31, 30, 29);
    padding: 50px 0;
    align-items: center;
    margin-top: 421px;
}

.contact h2{
    margin-bottom: 10px;
    margin-left: 50px;
    text-align: left;
    font-size: 20px;
    color: #16337e;
}

.contact h4{
    margin-left: 30px;
    color: #fff;
    margin-bottom: 10px;
}

.links-footer{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.links-footer ul{
    display: flex;
    margin-bottom: 25px;
}
.links-footer ul li{
    margin-top: 20px;
    margin-right: 10px;
    text-decoration: none;
    list-style: none;

}
.links-footer ul li:last-child{
    margin-right: 0;
}
.links-footer ul li a{
    color: #1649ca;
    font-size: 2rem;
}
footer p{
    color: white;
    text-align: center;
}