html 

body {
    background-color: #16254b;
    font-family: Impact;
    color: white;
    height: 100%;
}

/* CABEÇALHO */

.main-header{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 32px;
    border-bottom: 1px solid rgb(0, 0, 0);
    background: rgb(31, 30, 29);
}

@media screen and (max-width: 767px) {
    .main-nav{
        width: 100%;
    }
}

.links{
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    text-align: center;
}

@media screen and (max-width: 767px) {
    .links{
        justify-content: center;
    }
}

.links a{
    color: white;
    font-size: 18px;
    line-height: 28px;
    margin: 10px;
    padding-bottom: 3px;
    text-decoration: none;
}

.links a:hover{
    color: #16337e;
    transition: color 200ms;
}

.name-header{
    color: white;
    font-size: 40px;
}

@media screen and (max-width: 767px) {
    .name-header{
        width: 100%;
        text-align: center;
        margin-bottom: 30px;
    }
}

/* FORMULÁRIO */

.wrapper{
    position: absolute;
    top: 40%;
    transform: translateY(-50%);
    width: 100%;
}

.contact-form{
    max-width: 550px;
    margin: 0 auto;
    background: rgb(31, 30, 29);
    padding: 30px;
    border-radius: 5px;
    display: flex;
}

.input-fields{
    display: flex;
    flex-direction: column;
    margin-right: 4%;
}

.input-fields, .msg{
    width: 48%;
}

.input-fields .input, .msg textarea{
    margin: 10px 0;
    background: transparent;
    border: 0;
    border-bottom: 2px solid #16337e;
    padding: 10px;
    color: #16337e;
    width: 100%;
}

.msg textarea{
    height: 212px;
}

::-webkit-input-placeholder{
    color: #16337e;
}

::-moz-input-placeholder{
    color: #16337e;
}

::-ms-input-placeholder{
    color: #16337e;
}

.btn{
    background: #16337e;
    text-align: center;
    padding: 15px;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    text-transform: uppercase;
}

@media screen and (max-width:1119px){
    .wrapper{
        top: 40%;
    }
    .contact-form{
        flex-direction: column;
    }
    .msg textarea{
        height: 80px;
    }
    .input-fields, .msg{
        width: 100%;
    }
}

@media screen and (max-width:767px){
    .wrapper{
        top: 50%;
    }
    .contact-form{
        flex-direction: column;
    }
    .msg textarea{
        height: 80px;
    }
    .input-fields, .msg{
        width: 100%;
    }
}

@media screen and (max-width:600px){
    .contact-form{
        flex-direction: column;
    }
    .msg textarea{
        height: 80px;
    }
    .input-fields, .msg{
        width: 100%;
    }
}

/* FOOTER */

footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    border-top: 1px solid rgb(0, 0, 0);
    background-color: rgb(31, 30, 29);
    padding: 50px 0;
    align-items: center;
}

.links-footer{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.links-footer ul{
    display: flex;
    margin-bottom: 25px;
}
.links-footer ul li{
    margin-top: 20px;
    margin-right: 10px;
    text-decoration: none;
    list-style: none;

}
.links-footer ul li:last-child{
    margin-right: 0;
}
.links-footer ul li a{
    color: #1649ca;
    font-size: 2rem;
}
footer p{
    color: white;
    text-align: center;
}